<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <script src="/assets/jquery-3.6.0.min.js"></script>
  <script src="/assets/vue3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Load polyfills to support older browsers -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
    crossorigin="anonymous"></script>

  <!-- Load Vue followed by BootstrapVue -->
  <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Load the following for BootstrapVueIcons support -->
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
</head>

<body>
  <div id="content">
    <b-container class="m-auto mt-2">
      <div>
        <b-navbar class="d-flex justify-content-between">
          <b-navbar-brand>Dutaf Node</b-navbar-brand>
          <b-nav>
            <b-nav-item href="/" active>Back</b-nav-item>
            <b-nav-item href="/admin/comics">Admin. BD</b-nav-item>
            <b-nav-item href="/admin/authors">Admin. Auteurs</b-nav-item>
            <b-nav-item href="/admin/editors">Admin. Editeurs</b-nav-item>
          </b-nav>
        </b-navbar>
      </div>
      <h2 class="text-center">Bienvenue sur le site de gestion privée DUTAF !</h2>
      <p>Ici, vous pouvez modifier les données DUTAF...</p>
    </b-container>
  </div>
  <script>
    new Vue({
      el: "#content",
    });
  </script>
</body>

</html>